/* Header */
html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    overflow-x: hidden;
}
.profile {
    width: 30px;
    position: absolute;
    top: 6px;
    right: 50%;
    transform: translateX(50%);
}
ul, li{
    color: #29274C;
    list-style: none;
    padding: 0;
    margin: 0;
}
main {
    width: 90vw;
    margin: 0 auto;
}
#logo-container {
    padding: 5px 0 5px 4.5vw;
}
.logo-img {
    border-radius: 2px;
    width: 32px;
}
.logo-link {
    display: flex;
    height: 100%;
    align-items: center;
}
header {
    max-width: 100%;
    width: 100vw;
    background-color: #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}
a:active{
    border-radius: 15px;
    background-color: #D1D1D1;
}
.nav-menu {
    visibility: hidden;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 0;
    width: 100%;

    transition: .4s;

    position: absolute;
    top: 40px;
    right: 0;

    background-color: #DBDBDB;

}
#nav-container.active .nav-menu{
    visibility: visible;
    height: calc(35% - 40px);
    z-index: 10000;
    border-radius: 0 0 5% 5%;
}
.nav-menu a {
    text-transform: uppercase;
    color: black;
    text-align: center;
    height: 100%;
    opacity: 0;
}
#nav-container.active .nav-menu li {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}





/* sandwich */
#mobile-menu div {
    width: 2em;
    height: 2px;
    background-color: #29274C;
    margin: 6px; 

    transition: .3s;
}
#mobile-menu {
    background-color: #DBDBDB;
    cursor: pointer;
    margin-right: 4vw;
    border: none;
    /* background-color: transparent; */

}

#nav-container.active .bar1{
    transform: rotate(-45deg) translate(-8px, 6px);
}
#nav-container.active .bar2{
    opacity: 0;
}
#nav-container.active .bar3{
    transform: rotate(45deg) translate(-5px, -3px);
}







/* main content */

.prize-img{
    border-radius: 1em;
    display: block;
    width: 90vw;
    margin: 1.5em auto;
}


#info {
    color: #437C90;
}
#info h1 {
    margin: 15px 0;
}
#draw-info thead td {
    color: black;
}
#draw-info thead td:nth-child(2) {
    padding-left: 20px;
}
#draw-info tbody td:nth-child(2) {
    padding-left: 20px;
}
.day-value {
    margin-left: 5vw;
}



#container-timer {
    margin: 15px 0;
}
#bar-timer {
    margin-bottom: 0;
    background-color: #437C90;
}
.bar-background {
    width: 85.5%;
    background-color: #29274C;
}
#bar-timer p {
    padding: 5px 0 5px 15px;
    margin: 0;
    color: #DBDBDB;
}
#timer {
    background-color: #e9e7f0;
    color: #9b99a0;
    margin-top: 0;
    padding: 30px;
}


.user {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-left: 5vw;
}
.img-user {
    height: 90%;
}
.user-city {
    margin-left: 20px;
}
.user-city p {
    margin: 0;
    color: #29274C;
}
.user-city p:nth-child(2) {
    color: #437C90;
}
#ul-ticket {
    flex-basis: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 2em;
}
#ticket li {
    cursor: pointer;
    background-color: #437C90;
    color: #DBDBDB;
    border: 1px solid #DBDBDB;
    padding: 12px 11px 10px 9px;
    width: 25px;
    border-radius: 20%;
}
#ticket li.active {
    color: #437C90;
    background-color: #c5c5c5;
}


#numeros-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 2em auto;
}

#bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #29274C;
    height: 1.5em;
    padding: 3px 0;
    color: #DBDBDB;
}

#numeros-participantes {
    display: flex;
    justify-content: center;
    min-height: 4em;
    height: auto;
    background-color: #e9e7f0;
}
#numeros-participantes p {
    color: #437C90;
    line-height: 1.8em;
    max-width: 90vw;

    margin-left: 0.8em;
}
#buy-container {
    width: 90vw;
    display: flex;
    justify-content: center;
}
#buy-btn {
    cursor: pointer;
    position: relative;
    right: 3px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}
#buy-btn img{
    width: 40px;

}
#pagamento {
    box-sizing: border-box;

    background-color: rgb(231, 228, 223);
    height: 60vh;
    width: 50vw;

    position: fixed;
    top: 21%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    transform: translateX(-100vw) ;
    border-radius: 20px;
}
#seusNumeros {
    display: flex;
    align-items: center;
    justify-content: space-around;

    box-sizing: border-box;

    margin-top: 30px;
    width: 80%;
    height: 25px;

    background-color: #437C90;
    color: white;
}
#showNumeros {
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 50px;
    max-height: 150px;
    overflow: auto;
    height: auto;
    background-color: #e9e7f0;
}
#showNumeros p {
    margin: 10px 8px 10px 22px;
    color: #29274C;
    line-height: 1.4em;
}

#closeBtn {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 25px;
    width: 25px;
    border-radius: 50%;

}

#xPay {
    cursor: pointer;
    width: 15px;
    border-top: 2px solid #29274C; 
    position: absolute;
    top: 12px;
    left: 7px;

    transform: rotate(45deg) translate(-2px, 2px);
}
#xPay::after {
    content: '';
    display: block;
    height: 2px;
    width: 15px;
    background-color: #29274C;
    transform: rotate(90deg) translate(-2px, 0px);
}
#comprarBtn {
    margin: auto 0 10px 0;
    border-radius: 6px;
    border: solid 2px #437C90;
    color: #437C90;
    background-color: #DBDBDB;
    padding: 5px;
    font-size: .8em;
    text-transform: uppercase;
    cursor: pointer;
}
#loader {
    border: solid 5px #ccc;
    border-top:solid 5px #29274C;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 35%;
    animation: loaderRotate 1s  infinite;
    display: none;
}


#executar-sorteio {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: .85em;
    border: none;
    border-radius: 5px;
    background-color: #29274C;
    color: #e9e7f0;
    padding: 3px 5px;

    position: relative;
    top: 45px;
    left: 20px;
}
#sorteio-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-1000%, -50%);


    display: flex;
    justify-content: flex-start ;
    align-items: center;
    flex-direction: column;

    height: 50%;
    width: 85%;
    background-color: rgb(231, 228, 223);
    border-radius: 10px;

    z-index: 10000;
}
.mensagemSorteio {
    border-radius: 10px;
    background-color: white;
    
    box-sizing: border-box;
    width: 80%;
    padding: 10px;
    padding-left: 23px;
    margin: 45px 3px;
    
    
    display: flex;
    align-items: flex-end;
}
.mensagemSorteio span {
    position: relative;
    bottom: 4px;
    left: 4px;

    display: flex;
    height: 2px;
    width: 2px;
}
.mensagemSorteio span:nth-child(1) {
    background-color: purple;
}
.mensagemSorteio span:nth-child(2) {
    background-color: red;
    margin-left: 2px;
}
.mensagemSorteio span:nth-child(3) {
    background-color: rgb(76, 0, 255);
    margin-left: 2px;
}
.resultadoSorteio {
    background-color: rgb(236, 234, 234);
    border-radius: 20px;
    margin-top: 50px;
    padding: .5em 2em;
}
.resultadoSorteio p {
    font-size: 2em;
}




.l {
    color: #437C90;
    color: #29274C;
    color: #D1D1D1;
    color: #DBDBDB;
}

@media (min-width: 550px){
    #header {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #logo-container {
        position: unset;
        display: unset;
    }
    .logo-link {
        position: unset;
    }

    #mobile-menu {
        display: none;
    }
    .nav-menu {
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: unset;
        width: unset;

        position: unset;

        margin-right: 5vw;
        
    }
    .nav-menu a{
        display: block;
        padding: .5rem;
        margin: 0;
        border: none;
        opacity: 1;
    }
    .nav-menu li {
        color: #29274C;
        opacity: 1;
        transition: color .1s ease-in-out;
    }
    .nav-menu li:hover {
        color: #437c9088;
    }
    #closeBtn {
        top: 10px;
        left: 10px;
    }

}


@keyframes aFade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes car {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(35vw) rotate(-6deg);
    }
    100%{
        transform: translateX(70vw) rotate(-5deg);
    }
}
@keyframes carReverse {
    from {
        transform:translateX(70vw) rotate(-5deg);;
    } to {
        transform: translateX(0);
    }
} 
@keyframes payCard {
    from {
        tranform: translateX(-100vw);
    } to {
        transform: translateX(100vw);
    }
}
@keyframes payCardReverse {
    0% {
        tranform: translateX(100vw);
    } 100% {
        transform: translateX(-100vw);
    }
}
@keyframes loaderRotate {
    to {
        transform: rotate(1turn);
    }
}
@keyframes sorteioContainer{
    from {
        transform: translate(-1000%, -50%);
    } to {
        transform: translate(-50%, -50%);
    }
}
@keyframes sorteioContainerRev {
    from {
        transform: translate(-50%, -50%);
    } to {
        transform: translate(-1000%, -50%);
    }
}