
#input-file {
    display: none;
}
#form-user{
    display: flex;
    flex-direction: column;
    gap: 15px;

    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#form-user button, input, select {
    opacity: 0;
    text-align: center;
    max-width: 10em;
    margin: auto;
    transform: translate(-100vw,0);
    border: none;
    background-color: #D1D1D1;
    padding: 10px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
input:focus, input:checked, input:active {
    outline: none;
}
button:focus, button:checked, button:active {
    outline: none;
}
select:focus, select:checked, select:active {
    outline: none;
}
#city {
    min-width: 14em;
}
#nSorteio {
    min-width: 13em;
}



@keyframes translateUserInfo {
    0% {
        opacity: 0;
        transform: translate(-150vw, 0);
    } 
    100% {
        opacity: 1;
        transform: translate(0,0);
    }